@charset "UTF-8";
/* CSS Document */

/*Style the Headings*/
.h1 {
	colour:#4f7582;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 0.8em:
}
.h2 {
	color:#70b04d;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 0.6em;
		
}

/*Style paragraph texts*/
.p1 {
	color: #797979;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.p2 {
	color: #000;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}